<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026. Taurus. All rights reserved
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Taurus_Robots">
        <sequence>
            <module name="Magento_Robots"/>
        </sequence>
    </module>
</config>
